{% extends "layout.html" %}
{% block body %}

<div class="content">
<article>
<h3 style="text-align: center;"> <b>Sanjeevani</b> provides a quick
diagnosis based on the symptoms they are experiencing. This saves a visit to the
doctor and based on the severity of the disease, will recommend contacting a
hospital or washing away your worries if the disease isn’t seriouschecks and references the
symptoms that are put in by the user against the database. Once it finds a match,
it will return a detailed description of the disease along with common remedies.<br><br><wbr>

It also provides upload your medical report and video conferencing with doctors features

</h3>
</article>
</div>
{% endblock %}  